In [1]:
import numpy as np
import pandas as pd

In [2]:
# filename = "grid_50_obs_30.csv"
# filename = "grid_32.csv"
filename = "grid_16.csv"
# filename = "maze_32.csv"
# filename = "warehouse.csv"
# filename = "grid_20_obs_30.csv"

data = pd.read_csv(filename, index_col=0)
data = data.set_index("name")
data

,3,5,10,EXP 2,EXP 1.4,EXP 1.6,SMT-CBS
name,,,,,,,
grid_16x16_a2,0.014485,0.016171,0.011632,0.013685,0.017314,0.015329,0.013589
grid_16x16_a4,0.018780,0.021351,0.020259,0.022255,0.024077,0.025812,0.020000
grid_16x16_a6,0.014741,0.008152,0.010728,0.018575,0.016514,0.012951,0.008061
grid_16x16_a8,0.020052,0.022476,0.021524,0.022549,0.021629,0.021812,0.018160
grid_16x16_a10,0.050476,0.057386,0.052910,0.054557,0.049847,0.052280,0.061733
grid_16x16_a12,0.041308,0.043384,0.045900,0.040301,0.040046,0.038030,0.056629
grid_16x16_a14,0.074916,0.072232,0.076445,0.075573,0.081542,0.072398,0.092156
grid_16x16_a16,0.075124,0.072720,0.072526,0.068080,0.080917,0.072723,0.078179
grid_16x16_a18,0.173310,0.177680,0.169870,0.184770,0.176590,0.182640,0.215150
grid_16x16_a20,0.219380,0.235700,0.228210,0.236630,0.272430,0.227540,0.449160
grid_16x16_a22,0.148810,0.145920,0.165430,0.149060,0.165430,0.143280,0.211180
grid_16x16_a24,0.166680,0.155580,0.163560,0.156800,0.151570,0.151390,0.169300
grid_16x16_a26,0.244480,0.249570,0.279760,0.260290,0.258410,0.273780,0.255710
grid_16x16_a28,0.515570,0.479250,0.481620,0.478500,0.522220,0.497220,0.432640
grid_16x16_a30,0.361950,0.318620,0.361610,0.296370,0.311960,0.356030,0.290910

In [3]:
# Sum of percentage improvement. Minus means deterioration.
df = data.copy()
for n in ["3", "5", "10", "EXP 1.4", "EXP 1.6", "EXP 2"]:
    df[n] = df["SMT-CBS"] - df[n]
df.loc["Total"] = df.sum()
df

,3,5,10,EXP 2,EXP 1.4,EXP 1.6,SMT-CBS
name,,,,,,,
grid_16x16_a2,-0.000896,-0.002582,0.001957,-0.000096,-0.003725,-0.001739,0.013589
grid_16x16_a4,0.001220,-0.001351,-0.000259,-0.002255,-0.004077,-0.005812,0.020000
grid_16x16_a6,-0.006680,-0.000091,-0.002668,-0.010514,-0.008453,-0.004890,0.008061
grid_16x16_a8,-0.001892,-0.004316,-0.003364,-0.004389,-0.003469,-0.003652,0.018160
grid_16x16_a10,0.011257,0.004347,0.008823,0.007176,0.011886,0.009453,0.061733
grid_16x16_a12,0.015321,0.013245,0.010729,0.016328,0.016583,0.018599,0.056629
grid_16x16_a14,0.017240,0.019924,0.015711,0.016583,0.010614,0.019758,0.092156
grid_16x16_a16,0.003055,0.005459,0.005653,0.010099,-0.002738,0.005456,0.078179
grid_16x16_a18,0.041840,0.037470,0.045280,0.030380,0.038560,0.032510,0.215150
grid_16x16_a20,0.229780,0.213460,0.220950,0.212530,0.176730,0.221620,0.449160
grid_16x16_a22,0.062370,0.065260,0.045750,0.062120,0.045750,0.067900,0.211180
grid_16x16_a24,0.002620,0.013720,0.005740,0.012500,0.017730,0.017910,0.169300
grid_16x16_a26,0.011230,0.006140,-0.024050,-0.004580,-0.002700,-0.018070,0.255710
grid_16x16_a28,-0.082930,-0.046610,-0.048980,-0.045860,-0.089580,-0.064580,0.432640
grid_16x16_a30,-0.071040,-0.027710,-0.070700,-0.005460,-0.021050,-0.065120,0.290910
Total,0.232495,0.296365,0.210573,0.294562,0.182061,0.229343,2.372557

In [4]:
df.to_csv(f"sub/{filename}")

In [37]:
# ([(1-data[i] / data["SMT-CBS"]) for i in ["3", "5", "10", "DYN 8_2", "DYN 10_3"]])

In [ ]:
## Merging DYN

In [3]:
def load_output(filename, n):
    p = list(range(10))
    p.insert(0, "name")
    data = pd.read_csv(filename, names=p)
    data[n] = data.mean(numeric_only=True, axis=1)
    data = data.drop(list(range(10)), axis=1)
    return data

In [4]:
data2 = load_output("../code/output/dpll_mapf_exp_14.csv", "EXP 1.4")
data3 = load_output("../code/output/dpll_mapf_exp_16.csv", "EXP 1.6")
data2

                name   EXP 1.4
0    maze-32-32-2_a2   0.19092
1    maze-32-32-2_a4   0.13552
2    maze-32-32-2_a6   0.82836
3    maze-32-32-2_a8   0.97144
4   maze-32-32-2_a10   0.88259
5   maze-32-32-2_a12   1.05570
6   maze-32-32-2_a14   2.59040
7   maze-32-32-2_a16   2.85160
8   maze-32-32-2_a18   6.45870
9   maze-32-32-2_a20  12.04400
10  maze-32-32-2_a22   7.81520
11  maze-32-32-2_a24   9.44980
12  maze-32-32-2_a26  11.61600
13  maze-32-32-2_a28  19.32100
14  maze-32-32-2_a30  25.97300

In [5]:
data = pd.merge(data,data2,on=["name"])
data = pd.merge(data,data3,on=["name"])
data

,name,3,5,10,SMT-CBS,DYN 8_2,DYN 10_3,EXP,EXP 1.4,EXP 1.6
0,maze-32-32-2_a2,0.224233,0.409117,0.193100,0.173750,0.221667,0.206533,0.191283,0.19092,0.16501
1,maze-32-32-2_a4,0.148700,0.173683,0.145433,0.147283,0.169533,0.142933,0.131283,0.13552,0.13909
2,maze-32-32-2_a6,0.946750,1.142667,1.077300,0.900817,0.990533,0.989400,0.863267,0.82836,0.80209
3,maze-32-32-2_a8,0.959700,1.246167,1.112667,1.013617,1.164500,1.110167,1.058167,0.97144,0.90525
4,maze-32-32-2_a10,0.974733,1.096650,1.085167,0.994217,1.133167,1.010883,1.017283,0.88259,0.90519
5,maze-32-32-2_a12,1.072500,1.451333,1.356167,1.070500,1.180167,1.173833,1.229333,1.05570,1.03760
6,maze-32-32-2_a14,2.689500,3.240000,3.799167,2.660167,3.257167,2.909000,3.116333,2.59040,2.50640
7,maze-32-32-2_a16,3.397167,4.625833,5.624667,3.773833,3.770167,3.530833,3.697833,2.85160,2.98380
8,maze-32-32-2_a18,6.701167,8.824500,8.521167,6.393833,8.506167,7.253167,7.988500,6.45870,6.74460
9,maze-32-32-2_a20,10.536667,20.175000,30.636667,10.835000,10.059333,10.345000,10.408333,12.04400,10.99200
10,maze-32-32-2_a22,7.990333,10.376667,17.398333,5.775833,6.355167,6.614500,8.471333,7.81520,8.44200
11,maze-32-32-2_a24,12.435000,13.706667,36.391667,11.403333,8.832000,11.016667,11.978333,9.44980,14.43400
12,maze-32-32-2_a26,15.681667,12.285000,32.558333,9.629500,13.105000,10.190333,11.765000,11.61600,9.68920
13,maze-32-32-2_a28,20.660000,18.158333,68.116667,14.973333,17.123333,27.356667,27.878333,19.32100,16.67000
14,maze-32-32-2_a30,29.263333,49.140000,84.268333,27.723333,22.386667,28.001667,35.998333,25.97300,29.86100

In [6]:
# data.to_csv(filename)