In [1]:
import numpy as np
import pandas as pd

In [12]:
file_template = "../code/output/dpll_mapf_"
names = ["3", "5", "10", "exp_2", "exp_1.4", "exp_1.6"]
file_names = [ file_template + x + ".csv" for x in names]
# file_names.append("../code/output/warehouse/smt_cbs.csv")
file_names

['../code/output/warehouse/dpll_mapf_3.csv',
 '../code/output/warehouse/dpll_mapf_5.csv',
 '../code/output/warehouse/dpll_mapf_10.csv',
 '../code/output/warehouse/dpll_mapf_exp_2.csv',
 '../code/output/warehouse/dpll_mapf_exp_1.4.csv',
 '../code/output/warehouse/dpll_mapf_exp_1.6.csv']

In [13]:
def load_output(filename, n):
    p = list(range(10))
    p.insert(0, "name")
    data = pd.read_csv(filename, names=p)
    data[n] = data.mean(numeric_only=True, axis=1)
    data = data.drop(list(range(10)), axis=1)
    return data

In [14]:
data = []
data.append(load_output(file_names[0], names[0]))
data.append(load_output(file_names[1], names[1]))
data.append(load_output(file_names[2], names[2]))
data.append(load_output(file_names[3], "EXP"))
data.append(load_output(file_names[4], "EXP 1.4"))
data.append(load_output(file_names[5], "EXP 1.6"))
# data.append(load_output(file_names[6], "SMT-CBS"))

In [15]:
from functools import reduce
data_merged = reduce(lambda  left,right: pd.merge(left,right,on=["name"]), data)
data_merged

            name        3        5       10      EXP  EXP 1.4  EXP 1.6
0   warehouse_a2  14.0380  13.7420  14.0200  13.9760  14.1260  13.7980
1   warehouse_a4   4.5694   4.5100   4.5036   4.4996   4.5160   4.5798
2   warehouse_a6   7.7352   7.7498   7.5496   7.7726   7.4936   7.9154
3   warehouse_a8  26.1340  26.1100  25.9640  26.6700  25.8320  26.6540
4  warehouse_a10  47.3000  48.1340  47.5100  47.3280  47.4740  53.5860
5  warehouse_a12  49.6420  49.5300  49.3880  49.6140  49.4520  48.9500
6  warehouse_a14  59.0800  51.3600  57.2820  51.4740  58.5800  55.5620
7  warehouse_a16  33.9940  36.1600  36.0840  35.0740  35.7500  35.2160

In [13]:
# # save csv
# from pathlib import Path

# for i in range(50):
#     filename = f"measurement_{i}.csv"
#     save_file = Path(filename)
#     if not save_file.is_file():
#         data_merged.to_csv(filename)
#         break

In [16]:
data_merged.to_csv("choke_experiment/warehouse.csv")